@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
 background-color:rgb(43, 39, 39);
  background-position: center;
  background-size: cover;
  height: 109vh;
  
}
.navbar{
  width: 1400px;
  height: 75px;
  margin: auto;
  padding-left: 130px;
  background-color: blueviolet;
}
.icon{
  width: 200px;
  float: left;
  height: 70px;

}
.logo{
color: rgb(255, 174, 0);
font-size: 28px;
font-family:'Gill Sans';
padding-left: 1px;
float: left;
padding-top: 20px;
font-weight: bolder;

}

.menu{
  width: 400px;
  float: left;
  height: 70px;

}
ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
  
}

ul li{
  list-style: none;
  margin-left: 72px;
  margin-top: 27px;
  font-size: 18px;

}

ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: lightblue;
}
.personalimage{
  height: 300px;
  background: no-repeat;
  background-position: center;
  border-radius: 300%;
  

  
  
}  
.content{
color:white;
justify-content: center;
align-items: center;
text-align: center;
margin-left: 300px;
margin-top: 200px;
height: 60px;
width: 1000px;
}
.content h1{
  font-size: 100px;
  padding-top: 0.02px;
  font-family: 'Trebuchet MS';
}
.content h2{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 0.02px;
}

.contenthome h1{
  font-size: 100px;
  padding-top: 0.02px;
  font-family:'Lucida Sans';
}

.contenthome{
  color:white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 300px;
  margin-top: 200px;
  height: 60px;
  width: 1000px;
  
}

b{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 250px;

  
  
}

b li{
  list-style: none;
  margin-left: 200px;
  margin-top: 400px;
  font-size: 18px;

}
b li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

b li a:hover{
  color: rgb(123, 191, 214);
  
}